@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1540px
);


@import '~bootstrap/scss/bootstrap-grid';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behaviour: smooth;
}

body {
  font: 400 16px/1.5 'Poppins', sans-serif;
}

@keyframes blinking {
  from  { opacity: 1 }
  to { opacity: 0 }
}

img {
  max-width: 100%;
  height: auto;
}
